**/.git/
node_modules/
.vscode/
.*.swp
.~lock.*
*/.gitignore
/db.version

API/dist/
API/notes.txt

Frontend/cache/
Frontend/dist/
Frontend/nginx/
Frontend/src/img/*/**
!Frontend/src/img/*.png
!Frontend/src/img/*.jpg
!Frontend/src/img/item/**
Frontend/src/js/config.js
Frontend/src/js/config-server.js

WikiParser/__pycache__/
WikiParser/config/config.ini
WikiParser/data/cache/*